@charset "utf-8";


html {

   font-size: 12px;
   font-family: Tahoma, Geneva, sans-serif;
}

body > header nav.tabs::after {
   clear: both;
   content: "";
   display: table;
}


#about {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 110px;
  margin-left: 110px;
  font-size: 16px;
}

#meeting_list {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 110px;
  margin-left: 110px;
  font-size: 16px;
}

#members {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 10%;
  margin-left: 10%;
}



#project_list {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 10%;
  margin-left: 10%;
}

#members > p{
  font-size: 16px;
  line-height: 1.5;
  margin-left: 30%

}

#project_list > p{
  font-size: 16px;
  line-height: 1.5;
}

#members > h1{
  font-size: 22px;
}

#logo {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

figure {
  display: block;
  float: left;

}

figure > img{
  width: 20em;
  float: left;
}

figure > figcaption{
  font-size: 22px;
}



body > header nav.tabs {
  display: block;
  margin-left: 7%;
  margin-right: 10%;
}


body > header nav.tabs li {
   background-color: 	#EEEEEE;
   display: block;
   float: left;
   height: auto;
   font-weight: bold;
   font-size: 18px;
   line-height: 40px;
   width: 16%;

}


#video {
margin-left: 27%;

}


body > header nav.tabs li a {
   color: rgb(0, 0, 0);
   display: block;
   text-align: center;
   text-decoration: none;
   width: 100%;
}

.ignore-css{all:unset;}
