/*  This CSS file formats the fonts, colors, links as well as setting how 
certain elements on the page are displayed.  */

html {
	height: 100%; 
	margin-bottom: 1px;}
	
/* body {
	background: #ffffff url("images/background.jpg") repeat-x;
	color: #000000;
	font: normal 76% Verdana, Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;	
	text-align: center;} */

hr {
	background-color: #800000;
	color: #800000;
	border: none;
	height: 1px;
	width: 100%;}

img {
	border: none;}

ul {
	padding: 0;
	margin: 0 0 20px 20px;
	list-style: square;}

/*  The items below the properties for the links that appear in the
main text area as well as in the sidebar of the pages  */

a {
	color: #008080;
	text-decoration: underline;
	font-weight: normal;
}

a:hover {
	color: #959595;
	text-decoration: underline;
	font-weight: normal;
}

/*  The items below set the properties for the fonts, sizes, and
colors used for headings 1 through 6. Typically h1 - h3 are used
in the main content area and h4 - h6 are used in the sidebar  */

h1 {
	color: #008080;
	font: bold 24px Georgia, Georgia, serif;
	text-align: left;
	letter-spacing: 1px;
}

h2{
	color: #008080;
	font: normal 18px Tahoma, Geneva, sans-serif;
	text-align: left;
}

h3{
	color: #800000;
	font: normal 20px Tahoma, Geneva, sans-serif;
	text-align: left;}

h4 {

	color: #bf6f5f;
	font: bold 18px Arial, Helvetica, sans-serif;
	text-align: left;
}

h5 {
	border-bottom: 1px dashed #959595;
	color: #535353;
	font: bold 14px Arial, Helvetica, sans-serif;
	text-align: left;
}

h6 {
	color: #800000;
	font: bold 14px Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	padding-bottom: 0;}
.w {
	font-family: Vivaldi;
	font-size: xx-large;}
	
.center {
	text-align: center;}	

.clear {
	clear: both;}

/*  To keep the content centered on the page, all of the areas
are placed within a wrapper. The item below defines this wrapper.  */

/* #wrapper {
	background-image: url("images/wrapper.jpg");
	width: 900px;
	text-align: left;
	margin: 0 auto;} */

/*  The items below set the properties of the top header. The global
navigation and main navigation links are positioned to sit on top
of the header image  */

#header {
	position: relative;
	width: 900px;
	height: 230px;}

#global {
	position: absolute;
	left: 0;
	top: 10px;
	z-index: 1;
	width: 890px;
	text-align: right;
	padding-right: 10px;
	color: #656565;
	height: 30px;
	font-size: 85%;}

#topnav {
	position: absolute;
	left: 60px;
	top: 160px;
	z-index: 1;
	width: 780px;
	text-align: center;
	color: #ffffff;
	height: 30px;
	font-size: 90%;}

#topnav a {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;}

#topnav a:hover {
	color: #ffffff;
	text-decoration: underline;
	font-weight: normal;}

/*  The items below sets the properties for the sidebar and
content blocks as well as a wider content area for the single
column page layout  */

#sidebar {
	font-size: 90%;
	float: left;
	width: 190px;
	padding: 0 10px 0 60px;}

#mainnav {
	line-height: 1.5em;
	letter-spacing: 1px;
	font-size: 120%;}

#content {
	float: right;
	width: 500px;
	line-height: 1.5em;
	padding: 0 85px 0 10px;}

/*  The items below set the footer properties as well as the text
and links that appear in this area  */

#footer {
	background: #ffffff url("images/footer.jpg") no-repeat;
	clear: both;
	padding: 20px 0;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.7em;
	font-size: 80%;
	height: 60px;}

#footer a {
	font-weight: normal;}
	
#footer a:hover {
	font-weight: normal;}

#footer p {
	margin: 0;
	padding: 10px 0 0 0;}

/*  This template contains a form that is set within a fieldset. The
items below set the properties for the form, input fields, the submit
button, etc.  */

fieldset {
	border: 1px dashed #c2c2c2;
	padding: 5px;
	margin: 5px 0;}

legend {
	background-color: #ffffff;
	color: #656565;
	font: bold 16px Arial, Helvetica, sans-serif;
	padding: 2px 4px;
	margin: 0;}

form {
	padding: 5px;
	text-align: left;
	margin: 20px 0 5px 0;}

label {
	width: 150px; 
	float: left; 
	text-align: right; 
	margin: 3px 5px 5px 5px; 
	clear: both;}

input {
	margin: 3px 5px 5px 5px; 
	background-color: #fff; 
	color: #000; 
	border: 1px solid #c2c2c2;}

textarea {
	font: normal 12px Verdana, sans-serif;
	margin: 3px 5px 5px 5px; 
	background-color: #fff; 
	color: #000; 
	border: 1px solid #c2c2c2;}

.button {
	text-align: center; 
	margin: 5px 0 0 170px; 
	border: none;
	clear: both;}

/*  The catalog is set into a simple two-column table. The
items below set the properties for the catalog display.  */

table {
	padding: 0px;
	border-collapse: collapse;
	font-size: 100%;
	width: 100%;}

.catalog {
	padding: 10px;
	line-height: 1em;
	text-align: center;
	vertical-align: top;
	width: 50%;}

/*  Your smaller images can be floated to the left or the
right so your text can flow around them. You can also have
the images appear with or without a small border. The items
below sets the properties for the classes you may apply to
your images.  */

.image-border {
	border: 3px double #c2c2c2;}
	
.imageleft-noborder {
	margin: 0 10px 0 0; 
	float: left;}

.imageright-noborder {
	margin: 0 0 0 10px; 
	float: right;}
	
.imageleft-border {
	margin: 0 10px 0 0; 
	float: left;
	border: 3px double #c2c2c2;}

.imageright-border {
	margin: 0 0 0 10px; 
	float: right;
	border: 3px double #c2c2c2;}